@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Tamil:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* d2f65a */

#ffbf00 yellow
e6b21915 light yellow bg 

.carousel-indicators {
    display: none; /* Hide the indicators if needed */
  }

  @keyframes shimmer {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

.gold-text-outline {
  color: transparent;
  background: linear-gradient(90deg, #d4af37, #fce586, #d4af37);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #5c2e00;
  animation: shimmer 20s linear infinite;
}
